@import url(https://fonts.bunny.net/css?family=roboto:100,300,400,500,700,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(23 23 23);
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.75rem; /* Szerokość scrollbaru */
  background-color: rgb(23 23 23);
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Kolor scrollbara */
  border-radius: 0.5rem; /* Zaokrąglenie narożników scrollbara */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Kolor scrollbara po najechaniu */
  cursor: pointer;
}

/* Ukrywanie strzałek w scrollbarze */
::-webkit-scrollbar-button {
  display: none;
}

/* Stylowanie scrollbarów dla przeglądarki Firefox */
::-moz-scrollbar {
  width: 0.75rem; /* Szerokość scrollbaru */
}

::-moz-scrollbar-thumb {
  background-color: #ccc; /* Kolor scrollbara */
  border-radius: 0.25rem; /* Zaokrąglenie narożników scrollbara */
}

::-moz-scrollbar-thumb:hover {
  background-color: #aaa; /* Kolor scrollbara po najechaniu */
  cursor: pointer;
}

/* Ukrywanie strzałek w scrollbarze dla przeglądarki Firefox */
::-moz-scrollbar-button {
  display: none;
}
